<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div class="home-container">
  <header>
    <h1>geeeffrey-zambrano</h1>
    <p>Técnico Superior en Desarrollo de Aplicaciones Web y Multiplataforma</p>
    <button (click)="toggleTheme()">
   GZ
      <!-- <img src="../assets/images/o.png" alt="Alternar Tema" /> -->
    <!-- <i class="fas fa-adjust"></i> -->
    </button>
  </header>
  <!------------------->

  <section class="links">
    <!-- <h2>Enlaces</h2> -->
    <ul>
      <li>
        <a href="https://github.com/geffrey99" target="_blank">
                <i class="fab fa-github"></i> GitHub
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/geffrey-zambrano/" target="_blank">
       <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        </li>
      <li>
        <a href="https://www.youtube.com/@Geffast" target="_blank">
          <i class="fab fa-youtube"></i> YouTube
        </a>
      </li>
      <!-- Okokookokk -->
    </ul>
  </section>
  <!-- <section class="projects">
    <h2>Proyectos</h2>
    <div class="project-card">
      <h3>Proyecto 1</h3>
      <p>Descripción breve del proyecto 1.</p>
    </div>
    <div class="project-card">
      <h3>Proyecto 2</h3>
      <p>Descripción breve del proyecto 2.</p>
    </div> -->
    <!-- Añade más proyectos aquí -->
  <!-- </section> -->


  <section class="about-me">
  <h2>
    Acerca de mi👁️
  </h2>
  <!-- <p class="moving-line">
  -->
  <p>
 Soy geff, vivo en España pero podria estar viajando siempre, me gusta la tecnologia, la economia y crear cosas como esta pagina 😀
<!-- <img src="\assets\images\o.png" alt="Foto de Geff"> -->
</p>


</section>

<div class="email-icon"> <a href="mailto:zambranogeffrey@icloud.com"> <svg id="uuid-3eb7b233-7894-4e39-84ef-64f75e651d4c" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86 48" height="50px" width="50px"> <polygon points="85.5 46.51 45.35 5.24 31.78 9.19 30.96 12.83 27.83 10.89 2.38 15.41 18.28 21.36 15.05 30.4 85.5 46.51" fill="none" stroke="blue" stroke-linejoin="round"></polygon> <g id="uuid-6c79f917-dcad-46be-95f2-1d03bf48e41d"> <polygon points="18.28 16.63 15.05 25.66 85.5 41.78 18.28 16.63" fill="none" stroke="blue" stroke-linejoin="round"></polygon> <polygon points="31.78 4.46 29.8 13.22 85.5 41.78 31.78 4.46" fill="none" stroke="blue" stroke-linejoin="round"></polygon> <polygon points="2.38 10.68 27.83 6.15 85.5 41.78 2.38 10.68" fill="none" stroke="blue" stroke-linejoin="round"></polygon> <polygon points="45.35 .5 31.78 4.46 85.5 41.78 45.35 .5" fill="none" stroke="blue" stroke-linejoin="round"></polygon> </g> </svg> </a> <span>Email</span> </div>

<footer>
    <p>© 2025 Geffrey Zambrano. Todos los derechos reservados.</p>
  </footer>
</div>
