body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
  background-color: #000000;
  /* Negro */
  color: #ffffff;
}

body.light-theme {
  background-color: #ff0000;
  /* Rojo */
  color: #000000;
}

.dark-theme * {
  background-color: #000000 !important;
  /* Negro */
  color: #ffffff !important;
}

.light-theme * {
  background-color: #ff0000 !important;
  /* Rojo */
  color: #000000 !important;
}
